.control-panel{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    flex: 30% 0 0;
    background-color: #5A5A5A;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 15px 15px 0;
    padding: 30% 15px 15px 15px;
    &__title{
        margin: 10px 0 10px 0;
        color: #fff
    }
    &__total-money{
        width: 150px;
        height: 40px;
        background-color: #fff;
        line-height: 40px;
        margin: 0 0 20px 0;
    }
    &__money-button{
        width: 60px;
        height: 30px;
        background-color: #fff;
        line-height: 30px;
        &:hover{
            cursor: pointer;
        }
    }
    &__short-change{
        width: 150px;
        height: fit-content;
        background-color: #aaa;
        line-height: 40px;
    }
    &__short-change-btn{
        margin: 40px 0 0 0;
        width: 150px;
        height: 40px;
        background-color: #fff;
        line-height: 40px;
        &:hover{
            cursor: pointer;
        }
    }
}

.short-change{
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
    }
}

.hidden{
    display: none;
}
